{% extends 'MasterPage.twig' %}
{% block content %}
<div class="container">
  <form class="form-horizontal" action="{{ path('app_login') }}" role="form" method="post">
     <input type="hidden" name="_target_path" value="/" />
     <div class="row">
     {% if error %}
     <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="alert alert-danger alert-dismissible fade show">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
      </div>
    {% endif %}
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <h3>Acces à votre compte</h3>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 field-label-responsive">
        <label for="email">E-Mail</label>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
            <input type="email" name="_username" class="form-control" value="{{ last_username }}" id="email" placeholder="you@example.com" onblur="checkMail(this)">
             
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-control-feedback" id="mailError">
          <span class="text-danger align-middle"><i class="fa fa-close">Email pas valide</i></span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 field-label-responsive">
        <label for="password">Mot de passe</label>
      </div>
      <div class="col-md-6">
        <div class="form-group has-danger">
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
            <input type="password" name="_password" class="form-control" id="password" placeholder="Password" required>
          </div>
        </div>
      </div>
    </div> 
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <button type="submit" class="btn btn-info btn-block"> Se connecter</button>
      </div>
    </div>
  </form>
    <br>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <h3>Pas encore de compte?</h3>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
          <a class="btn btn-lg btn-block btn-outline-info" role="button" href="/register">
             <i class="fa fa-user-plus"></i>Créer un compte
          </a>
      </div>
    </div>


</div>
<script type="text/javascript" src="js/checkInput.js"></script>
 {% endblock %}